*.class
*.log

# sbt
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history

# Intellij
.idea/
.idea_modules/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

